*{
    box-sizing: border-box;
    text-decoration: none!important;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh; 
    
}
.logo{
    position: absolute;
    margin-top: 31px;
    margin-left: 100px;
    mix-blend-mode: multiply;
}
nav{
    
    width: 100%;
   
}

header{
    top: 0;
    left: 0;
    width: 100%;
}
nav ul{
    font-family: DM sans;
    font-size: 16px;
    float: right;
    font-weight: 500;
    margin-right: 340px;
    margin-top: 31px;
    text-decoration: none;
}
nav ul li{
    
    display: inline-block;
    float: left;
    line-height: 50px;
    margin: 0 5px;
}
nav a{
    color: #010A44;
    font-size: 18px;
    
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
.login{
    font-family: DM sans;
    background: #11294C;
    color: white;
    border-radius: 5px;
    padding: 14px 24px;
    font-weight: 700;
    float: right;
    position: absolute;
    margin-left: 1220px;
    margin-top: 25px;
}
.login:hover{
    opacity: .7;
}
.login:active{
    opacity: 1;
        transition: .3s;

}
.service{
 border-bottom: 4px solid #6CB044;
}
ul.dropdown-menu{
    background: #424242;

}
.dropdown-menu a{
    color: white;
}       
                                       /* PAGE 1st SESSION */
.merg{
    display: flex;
    margin-top: 37px;
    margin-left: 104px;
}
.hom{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: rgba(0, 0, 0, 0.5);
color: #212121;
}
.us{
   font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: rgba(0, 0, 0, 0.5);
font-weight: bold; 
margin-left: 8px;
}
.other{
    width: 260px;
height: 47px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 131.52%;
color: #212121;
text-align: center;
margin-left: 610px;
margin-top: 15px;
}


.first{
    display: flex;
}
.gen{
    margin-left: 95px;
    margin-top: 110px;
    width: 380px;
height: 534px;
background: #FFFFFF;
border: 1px solid #DFDFDF;
border-radius: 22px;
}
.span1{
    width: 73px;
height: 73px;
background: rgba(108, 176, 68, 0.2);
border: 14px solid #FFFFFF;
border-radius: 60px;
margin-top: 33px;
margin-left: 20px;
}
.icon-Group{
    position: absolute;
    margin-top: 10px;
    margin-left: 13px;
    font-size: 25px;
}
.gen1{
    width: 239px;
height: 66px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
letter-spacing: -0.03em;
color: #1B1C31;
margin-left: 33px;
margin-top: 23px;
}
.hazard{
    width: 310px;
height: 271px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
letter-spacing: -0.02em;
color: #64607D;
margin-left: 33px;
}

.wood{
    width: 380px;
height: 534px;
background: #FFFFFF;
border: 1px solid #DFDFDF;
box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
border-radius: 22px;
margin-left: 50px;
margin-top: 110px;
}

.span2{
    width: 73px;
height: 73px;
background: rgba(108, 176, 68, 0.2);
border: 14px solid #FFFFFF;
border-radius: 60px;
margin-top: 23px;
margin-left: 20px;
}
.icon-wood{
     position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
}
.wood1{
   width: 190px;
    height: 65px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #1B1C31;
    margin-left: 33px;
    margin-top: 23px;
}
.scrap{
        width: 315px;
    height: 270px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    margin-left: 33px;
}
.line{
    width: 106px;
    height: 9px;
    background: #6CB044;
    border-radius: 0px 0px 16px 16px;
    margin-left: 140px;
}
.plastic{
    width: 380px;
    height: 534px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 22px;
    margin-left: 50px;
    margin-top: 110px;
}
.span3{
  width: 73px;
    height: 73px;
    background: rgba(108, 176, 68, 0.2);
    border: 14px solid #FFFFFF;
    border-radius: 60px;
    margin-top: 33px;
    margin-left: 20px;  
}
.sam{
    position: absolute;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 25px;
}
.plastic1{
    width: 132px;
    height: 68px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #1B1C31;
    margin-top: 20px;
    margin-left: 33px;
}
.useful{
    width: 311px;
    height: 259px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #64607D;
    margin-left: 33px;
}
.metal{
     width: 380px;
    height: 534px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 22px;
    margin-left: 95px;
    margin-top: 66px;
}
.span4{
     width: 73px;
    height: 73px;
    background: rgba(108, 176, 68, 0.2);
    border: 14px solid #FFFFFF;
    border-radius: 60px;
    margin-top: 33px;
margin-left: 20px;  
}
.icon-metal{
     position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
}
.metal1{
    width: 157px;
    height: 70px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #1B1C31;
    margin-left: 33px;
    margin-top: 20px;
}
.raw{
    width: 318px;
    height: 330px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    margin-left: 33px;
    margin-top: 20px;
}
.round1{
    position: absolute;
    width: 792px;
    height: 452px;
    background: #6CB044;
    opacity: 0.2;
    border-radius: 0px 0px 450px 450px;
    transform: rotate(90deg);
    margin-left: 880px;
    margin-top: 399px;
    z-index: -1;
}
.round2{
    position: absolute;
    width: 450px;
    height: 500px;
border-radius: 0px 0px 450px 450px;
transform: rotate(90deg);
    background: white;
    margin-top: 370px;
    margin-left: 1250px;
    z-index: -1;
}
.box{
    background: radial-gradient(#F68B1F 20%,transparent 20%);
    background-size: 20px 20px;
    height: 35px;
    width: 355px;
    transform: rotate(150deg);
    position: absolute;
    transform: skewX(25deg);
    margin-left: 700px;
    margin-top: 1300px;
}
                                                 /* PAGE 2nd SESSION */
.tables{
    width: 100%;
    height: 1197px;
    background: #f4f6f2;
    margin-top: 90px;
}
.report{
    width: 798px;
    height: 118px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 131.52%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #212121;
    margin-top: 111px;
    margin-left: 321px;
    position: absolute;
}
table td{
    border-top: 1px solid black;
    border-bottom: 1px solid beige;
    padding: 24px;
    border-top-style: none;


 }

 table{
    background: #FFFFFF;
    border: 1px solid #F2F2F2;   
   margin-top: 318px;
   margin-left: 362px;
   position: absolute; 
   border-top: none;
   filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
border-radius: 8px;
}

.box1{
    background: radial-gradient(#F68B1F 20%,transparent 20%);
    background-size: 20px 20px;
    height: 220px;
    width: 220px;
    position: absolute;
    transform: skewX(150deg);
    margin-left: -80px;
    margin-top: 480px;
}


                 /* ICON LINK */

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o0s0ac');
  src:  url('fonts/icomoon.eot?o0s0ac#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o0s0ac') format('truetype'),
    url('fonts/icomoon.woff?o0s0ac') format('woff'),
    url('fonts/icomoon.svg?o0s0ac#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rib .path1:before {
  content: "\e90c";
  color: rgb(244, 246, 242);
}
.icon-rib .path2:before {
  content: "\e90d";
  margin-left: -1.22265625em;
  color: rgb(255, 255, 255);
}
.icon-rib .path3:before {
  content: "\e90e";
  margin-left: -1.22265625em;
  color: rgb(244, 246, 242);
}
.icon-rib .path4:before {
  content: "\e90f";
  margin-left: -1.22265625em;
  color: rgb(255, 255, 255);
}
.icon-rib .path5:before {
  content: "\e910";
  margin-left: -1.22265625em;
  color: rgb(244, 246, 242);
}
.icon-rib .path6:before {
  content: "\e911";
  margin-left: -1.22265625em;
  color: rgb(255, 255, 255);
}
.icon-rib .path7:before {
  content: "\e912";
  margin-left: -1.22265625em;
  color: rgb(244, 246, 242);
}
.icon-rib .path8:before {
  content: "\e913";
  margin-left: -1.22265625em;
  color: rgb(255, 255, 255);
}
.icon-rib .path9:before {
  content: "\e914";
  margin-left: -1.22265625em;
  color: rgb(244, 246, 242);
}
.icon-rib .path10:before {
  content: "\e915";
  margin-left: -1.22265625em;
  color: rgb(255, 255, 255);
}
.icon-rib .path11:before {
  content: "\e916";
  margin-left: -1.22265625em;
  color: rgb(244, 246, 242);
}
.icon-rib .path12:before {
  content: "\e917";
  margin-left: -1.22265625em;
  color: rgb(255, 255, 255);
}
.icon-vehicle:before {
  content: "\e907";
  color: #fff;
}
.icon-staff:before {
  content: "\e908";
  color: #fff;
}
.icon-phone:before {
  content: "\e909";
  color: #fff;
}
.icon-marker:before {
  content: "\e90a";
  color: #fff;
}
.icon-mail:before {
  content: "\e90b";
  color: #fff;
}
.icon-wood:before {
  content: "\e900";
  color: #6cb044;
}
.icon-garbage .path1:before {
  content: "\e901";
  color: rgb(108, 176, 68);
}
.icon-garbage .path2:before {
  content: "\e902";
  margin-left: -0.8447265625em;
  color: rgb(108, 176, 68);
}
.icon-garbage .path3:before {
  content: "\e903";
  margin-left: -0.8447265625em;
  color: rgb(255, 255, 255);
}
.icon-garbage .path4:before {
  content: "\e904";
  margin-left: -0.8447265625em;
  color: rgb(255, 255, 255);
}
.icon-metal:before {
  content: "\e905";
  color: #6cb044;
}
.icon-Group:before {
  content: "\e906";
  color: #6cb044;
}


                                              /* FOOTER */

#fluid1{
    width: 100%;
    height: 486px;
    background: #11294C;
}
.sociall{
    display: flex;

}
.imgdust{
    background: url(img/dust2.png);
    position: absolute;
width: 169.04px;
height: 39px;
margin-top: 95px;
background-size: cover;
margin-left: 112px;
}
.waste{
    position: absolute;
width: 239px;
height: 103px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #ffffff;
margin-top: 164px;
margin-left: 112px;
}
.sociall{
    margin-top: 286px;
    margin-left: 112px;
}
.fa-facebook{
  background: #6CB044;
  border-radius:30px;
  color: #11294C;
  padding: 12px;
  width: 36px;
  height: 36px;
  font-size: 25px;
  margin-top: 16px;
}
.fa-instagram{
     background: #6CB044;
    font-size: 25px;
    padding: 5px;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    color: #11294C;
    margin-left: 25px;
    margin-top: 18px;

}
.fa-linkedin{
       background: #6CB044;
    font-size: 25px;
    padding: 6px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    color: #11294C;
    margin-left: 25px;
    margin-top: 18px;
}
.work{
    color: #ffffff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 85px;
    margin-top: 96px;
    position: absolute;
    }
.every{
    position: absolute;
width: 284px;
height: 104px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #ffffff;
margin-top: 140px;
margin-left: 85px;
}
.monday{
    height: 26px;
    width: 284px;
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-left: 85px;
    margin-top: 269px;
}
.sunday{
    height: 26px;
    width: 284px;
    position: absolute;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-left: 85px;
    margin-top: 295px;
}
.inq{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
position: absolute;
color: #ffffff;
margin-left: 40px;
margin-top: 90px;
}
.mail{
    position: absolute;
width: 284px;
height: 52px;
color: #ffffff;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-left: 40px;
margin-top: 140px;
}

.stay{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
position: absolute;
color: #ffffff;
margin-left: 22px;
margin-top: 90px;
}
.fa-envelope{
    margin-top: 144.5px;
    margin-left: 21px;
    position: absolute;
}
.info{
    position: absolute;
width: 123px;
height: 24px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 24px;
margin-top: 140px;
margin-left: 50px;
color: #6CB044;
}
.fa-phone{
    position: absolute;
    margin-top: 180px;
    margin-left: 21px;
}
.pho{
    position: absolute;
width: 119px;
height: 24px;
color: #6CB044;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 24px;
margin-top: 175.3px;
margin-left: 50px;
}
.last1{
    display: flex;
}
.long-line{
    margin-top: 100px;
    width: 1259px;
    border: 0.5px solid #FFFFFF;
    margin-left: 95px;
}
.privacy{
    width: 289px;
height: 24px;
font-family: 'Basier Circle';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
display: flex;
align-items: center;
color: #f9f9f9;
margin-left: 100px;
margin-top: 10px;
}
.copy{
    width: 520px;
height: 24px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #f9f9f9;
margin-left: 510px;
margin-top: 10px;
}